<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de aves</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <style>
        .fila-clickable:hover { background-color: #f1f1f1; }
    </style>
</head>

<body>
    <main>
        <section id="seccion-resultados">
            <h1>Listado de Avistamientos</h1>
            
            <table>
            <thead>
                <tr>
                    <th>Nombre de ave</th>
                    <th>Lugar</th>
                    <th>Fecha y Hora</th>
                    <th>Evidencia</th>
                </tr>
            </thead>
            <tbody>
                    {% for avistamiento in paginacion.items %}
                    <tr class="fila-clickable" onclick="window.location.href='{{ url_for('detalle_avistamiento', id=avistamiento.id) }}'" style="cursor: pointer;">
                        <td>{{ avistamiento.ave.nombre }}</td>
                        <td>{{avistamiento.lugar}}</td>
                        <td>{{ avistamiento.fecha_hora }}</td>
                        
                    <td>
                        {% if avistamiento.registros %}
                            <img src="{{ url_for('static', filename='uploads/' + avistamiento.registros[0].nombre_archivo) }}" width="150" alt="Evidencia fotográfica">
                        {% else %}
                            Sin evidencia
                        {% endif %}
                    </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No hay avistamientos registrados aún en esta página.</td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
            <br>
            
        
            <nav aria-label="paginación" style="text-align: center;">
                {% if paginacion.has_prev %}
                    <a href="{{ url_for('listado', page=paginacion.prev_num) }}">&lt; Atrás</a>
                {% endif %}
                
                <span style="margin: 0 15px;"> Pág {{ paginacion.page }} de {{ paginacion.pages }} </span>

                {% if paginacion.has_next %}
                    <a href="{{ url_for('listado', page=paginacion.next_num) }}">Sig &gt;</a>
                {% endif %}
            </nav>
        </section>
        
        <br><br>
        <a href="/">Volver al inicio</a>
    </main>
</body>
</html>